.id-card {
  overflow: hidden;
  border-radius: 2rem;
  background-color: $color-mmr;
  color: white;
  width: 28rem;
  margin: 1rem;
  padding: 0 0 2rem;
  
  &__img {
    height: 25rem;
    width: 100%;
    padding: 12.5rem;
  }

  &__logo {
    width: 3rem;
    height: auto;
    margin: 0 1rem;
  }

  &__content {
    padding: 3rem 2rem;
    text-align: center;
  }

  &__name {
    font-size: 3rem;
    font-weight: 900;
  }
  &__matric {
    font-size: 2rem;
  }
  &__dept {
    font-size: 1.5rem;
  }
}